<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998948836075-8s3timoj58ls49aa1sq1bv7on7k8pji5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998948836075-8s3timoj58ls49aa1sq1bv7on7k8pji5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998948836075-0b41k2p0a8k6bvl3g1vjf43bhcjq0shv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCW2cCfTMctkSMiipNWw1a7JY7FjSJPMhM</string>
	<key>GCM_SENDER_ID</key>
	<string>998948836075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voomcar.voomcar</string>
	<key>PROJECT_ID</key>
	<string>pickapp-ed95e</string>
	<key>STORAGE_BUCKET</key>
	<string>pickapp-ed95e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998948836075:ios:b69bc8cad240fbbc2d24ae</string>
	<key>DATABASE_URL</key>
	<string>https://pickapp-ed95e.firebaseio.com</string>
</dict>
</plist>